Faker==13.12.0
PyYAML==6.0
robotframework==5.0
robotframework-databaselibrary==1.2.4
robotframework-faker==5.0.0
robotframework-pabot==2.5.3
robotframework-pythonlibcore==3.0.0
robotframework-seleniumlibrary==6.0.0
robotframework-stacktrace==0.4.1
robotframework-yamllibrary==0.2.8
robotframework-datetime-tz=1.0.6
